[Unit]
Description=Broadlink Scheduler Service
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/opt/broadlink-scheduler
ExecStart=/usr/bin/python3 scheduler.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target